body {
    background-image: linear-gradient(
      to right,
      rgb(237, 197, 34),
      rgb(226, 79, 21)
    );
    margin: 0;
    padding: 0;
  }
  
  .main-section {
    margin: 0.5rem;
    margin-bottom: 0rem;
    display: flex;
    justify-content: center;
  }
  
  .main-section-heading {
    background: linear-gradient(to left, rgb(9, 167, 235), rgb(238, 10, 10));
    font-style: italic;
    font-weight: bold;
    color: white;
    padding: 0.4rem;
    border-radius: 5px;
    margin: 0.5rem 0;
    width: fit-content;
  }

  .main-section-items {
    background: linear-gradient(to left, rgb(163, 9, 235), rgb(238, 10, 177));
    font-style: italic;
    font-weight: bold;
    color: white;
    padding: 0.4rem;
    padding-top: 0.6rem;
    border-radius: 5px;
    margin: 0.5rem 0.5rem;
    width: fit-content;
  }

  .cart-container {
    padding: 0.2rem 0.2rem;
    background: linear-gradient(to left, rgb(128, 125, 125), rgb(74, 72, 71));
    width: fit-content;
    border-radius: 5px;
    margin: 0.5rem 1.5rem;
    height: 20rem;
    width:95%;
    color: white; 
    overflow: scroll;
  }

  .cart__table {
    width:100%;
    padding: 0;
    margin: 0;
  }

  .table__header {
    color: rgb(101, 99, 99);
    background: linear-gradient(to left, rgb(199, 192, 192), rgb(183, 177, 174));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

 .table__rows {

    background: linear-gradient(to left, rgb(110, 109, 109), rgb(116, 115, 114));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 th {
    padding: 0.5rem 0rem;
 }

 .prd__details {
    display: flex;
    justify-content: space-around;
 }

 .prd__img {
    width: 20%;
    height: 5rem;
    padding: 0rem 0.5rem;
  }
  .img__dis {
    width: 100%;
    height: 100%;
  }

  .prd__col {
    padding: 0rem 2rem;
  }

  .delete__action {
    padding: 1rem 0rem;
  }

  .btn {
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    background-image: linear-gradient(
      to right,
      rgb(82, 177, 218),
      rgb(215, 72, 72)
    );
    cursor: pointer;
    color: white;
  }
  .btn:hover {
    background-image: linear-gradient(
      to left,
      rgb(82, 177, 218),
      rgb(215, 72, 72)
    );
  }

  .totalPrice__container {
    display: flex;
    justify-content: space-around;
    padding: 0.2rem 0.2rem;
    background: linear-gradient(to left, rgb(128, 125, 125), rgb(74, 72, 71));
    width: fit-content;
    border-radius: 5px;
    margin: 0.5rem 1.5rem;
    margin-bottom: 0rem;
    height: 7rem;
    width:95%;
    color: white; 
  }

  .sec1 p {
    padding: 0.5rem 0;
    margin: 0;
  }
  
  .free{
    color: rgb(106, 245, 106);
  }
  .sec4 button {
    padding: 0.5rem 1rem;
    background: linear-gradient(to left, rgb(218, 21, 21), rgb(152, 40, 40));
    border: none;
    border-radius: 0.2rem;
    font-size: larger;
    margin: 2rem 0rem;
    color: wheat;
    cursor: pointer;
  }
