extends layouts/main_layout.pug

block content 
    h1(style={padding:"2rem"}) Error code 500 - Something went wrong!!
    h1(style={padding:"2rem"}) We're working on fixing it soon!, Sorry for inconvinence!!      